In [1]:
#Q 1)

In [2]:
marks = int(input('enter your mark'))
if marks > 90 :
    print('you got grade A')
elif marks > 80 or marks <= 90 :
    print('you got grade B')
elif marks >= 60 or marks <= 80 : 
    print('you got grade C')
else :
    printnt('you got grade D')

enter your mark 80

you got grade B

In [3]:
# Q 2]

In [5]:
cost_price = int(input('enter price of your bike'))

if cost_price > 100000 :
    print('your road tax is' + str(0.15*cost_price))
elif cost_price > 50000 and cost_price <= 100000 :
    print('your road tax is' + str(0.10*cost_price))
elif cost_price <= 50000:
    print('your road tax is' + str(0.05*cost_price))

enter price of your bike 150000

your road tax is22500.0

In [6]:
# Q 3]

In [7]:
city = input('enter name of the city from [delhi,agra,jaipur]')
if city == 'delhi':
    print('red fort')
elif city == 'agra':
    print('taj mahal')
elif city == 'jaipur':
    print('jal mahal')

enter name of the city from [delhi,agra,jaipur] agra

taj mahal

In [8]:
# Q 4]

In [9]:
i = int(input('enter your number'))
while i <= 10 :
    print(int(i/3))
    break

enter your number 9

3

In [10]:
# Q 5]

In [1]:
target = int(input('enter your number'))
i = 0
while i <= target :
    print(i**2)
    i = i+1

enter your number 4

0
1
4
9
16

In [2]:
# Q 6]

In [3]:
n = int(input('enter your number'))
i = 1

while i <=10 :
    result = n *i
    print(n ,'*',i ,'=',result)
    i = i+1

enter your number 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [5]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print( '*',end='')
        j = j+1
    print()
    i = i+1

*
**
***
****
*****

In [6]:
i = 1
while i <= 5:
    j = 1
    while j <=6-i:
        print( '*',end='')
        j = j+1
    print()
    i = i+1

*****
****
***
**
*

In [7]:
# Q7]

In [9]:
i = 10
while i > 0:
    print (i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [10]:
# Q8]

In [11]:
i = 10
while i >0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1